html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
    border-radius: 15px;
    gap:2px;
    place-self: center;
    margin-top: 5%;
}
.square{
    border: solid 2px black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-radius: 15px;
}
.container{
    display: grid;
}
.player-pop-up{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    background-color: white;
    border: solid 2px black;
    top: 10rem;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
}
#pselect{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.pmodal-submit{
    width: 5rem;
    margin: 0 auto;
}
.gamemode-pop-up{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    top: 15rem;
    border-radius: 15px;
    padding: 15px;
    gap: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.gamemode-pop-up button{
    width: 100px;
    height: 50px;
}